*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.pdf
*converted-to.pdf
*.backup
*.kilepr
*.fdb_latexmk
*.fls
*-frn.tex

# Beamer
*.nav
*.snm
